<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft.manager.dao.PositionDao">
	<resultMap id="BaseResultMap" type="com.soft.common.domain.Position">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="LOCATION" property="location" jdbcType="VARCHAR" />
		<result column="PNAME" property="pname" jdbcType="VARCHAR" />
		<result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
		<result column="ADNAME" property="adname" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		A.ID,
		A.NAME,
		A.TYPE,
		A.TYPE_CODE,
		A.ADDRESS,
		A.LOCATION,
		A.PNAME,
		A.CITY_NAME,
		A.ADNAME
	</sql>
  
  	<select id="getPositionCount" parameterType="com.soft.common.domain.Position" resultType="java.lang.Integer">
		SELECT COUNT(A.ID)
		FROM T_POSITION A
		WHERE NAME like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
	</select>	

	<!-- 根据名称查询地理信息列表 -->
	<select id="getPositionList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_POSITION A
		WHERE NAME like CONCAT('%',#{record.name,jdbcType=VARCHAR},'%')
		ORDER BY A.ID ASC
		LIMIT #{startIndex}, #{pageSize}
	</select>

</mapper>